body{
    padding:0;
    margin:0;
   
}
#ans div {
transition: 0.4s;    
}

.next{
    height:50px;
    width:500px;
    left:30%;
    top:89%;
    position:absolute;
    background: none;
    color:#ff6600;
    border:7px solid  #ff6600;
    background:#f1c40f;
    font-family: Calibri;
   font-size: 30px;
   font-weight: 3000;
   
}

.container{
    top:0%;
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;
    background:none;
    z-index:-1;
}
